/obj/*.obj
/obj-gui

/*.suo

/PtokaX.sdf

/*.opensdf

/ipch/ptokax-f61ce7fd/*.ipch

/obj/*.pdb

/compiled/*.pdb

/obj/*.tlog

/zlib/src/*.map

/obj/PtokaX.res

/PtokaX.vcxproj.user

/compiled/PtokaX.ilk

/compiled/PtokaX.exe

/obj/vc100.idb

/obj/PtokaX.vcxprojResolveAssemblyReference.cache

/obj/*.lastbuildstate

/obj/PtokaX.log

/compiled/cfg/*.xml

/compiled/logs

/obj/*.unsuccessfulbuild

PtokaX

*.a

*.o

/cfg/*

/logs/*

valgrind*.log

/PtokaX-gui.vcxproj.user
/*.sdf
/ipch/ptokax-gui-ae5b162f/*.ipch

/compiled/*.ilk

/compiled/PtokaX-gui.exe

/*.psess

/*.vsp

/obj/PtokaX.Build.CppClean.log
*.ipch
/obj/PtokaX.exe.intermediate.manifest
/*.7z
/compiled/*.dmp
/obj/*.idb
/compiled/*.7z
/*.opendb
/*.db
callgrind.out.*
*.VC.db
*.opendb
strace_out
*.log

